.suggestion
	.suggestion-user=user
	a.suggestion-description(href="/view/"+_id target="_blank")= title
	.suggestion-interactions
		a.fa.fa-copy.suggestion-icon
		a.fa.fa-pencil-square-o.suggestion-icon(href="/add/"+_id target="_blank")
